<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <a :href="url_naver">go to naver</a>
      </div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- v-bind: dynamically bind an attribute to an expression -->
            <!-- you can write also like this for dynamic attribute 
              :src="image"
              :class="image"...
            -->
            <img v-bind:src="image" alt="socks_green" />
          </div>
          <div class="product-info">
            <!-- inside of double curly brace refers product property in Vue app -->
            <h1>{{ product }}</h1>
            <!-- if inStock is true, show the first p tag, otherwise show the second p tag -->
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>

            <!-- v-show is used for toggling in el's visibility. if value is false, display:none will be added -->
            <!-- <p v-show="inStock">In Stock</p> -->

            <!-- you can use multiple conditions -->
            <p v-if="inventory > 10">In Stock {{ inventory }}</p>
            <p v-else-if="inventory <= 10 && inventory > 0">
              Almost sold out {{ inventory }}
            </p>
            <p v-else>10">Out of Stock</p>
            <p v-if="onSale">On Sale</p>
            <p>{{ desc }}</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <ul>
              <li v-for="size in sizes">{{ size }}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.id">
              {{ variant.color }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Import Vue App -->
    <script src="./main.js"></script>

    <!-- Mount Vue App -->
    <script>
      // mountedApp refers to the app imported
      // argument of mount is a DOM selector(this case by id)
      // enter mountedApp.product = 'val' on console, product's value is going to be changed
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
